name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.*
    - name: Install dependencies
      run: dotnet restore OpenGL.Abstractions.sln
    - name: Build
      run: dotnet build OpenGL.Abstractions.sln --configuration Release --no-restore
